# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode config
.vscode/

# OS files
.DS_Store

# Data and logs
*.log
*.csv
*.tsv
*.zip
*.sqlite3

# Allow all CSV files inside /data
!data/
!data/*.csv

# Build / distribution
build/
dist/
*.egg-info/
